
body{
    text-align: center;
}
main h1{
    margin-top: 5px;
    padding-top: 5px;

    font-weight: 500;
    font-size: 64px;
    line-height: 86px;
    text-align: center;
}
/*Container for the images to be lines up side by side*/
.container-brew {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 50px;
}
.container-brew img{
    width: 100%;
}