body{
    text-align: center;
}
#backbutton{
    background: lightgray;
}

body h1{
    margin-top: 5px;
    padding-top: 5px;

    font-family: 'Viga';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 86px;
    text-align: center;
}
body img{
    padding: 0px 4%;
}

p{
    text-indent: 50px;
    padding: 10px 4%;

    ont-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
}

/* Media queries for even smaller screens */
@media screen and (max-width: 700px) {
    body img{
        padding: 0px 4%;
    }
    #phoneHolder{
        padding: 5px;
        width: 100%;
    }
}