body{
    text-align: center;
}
main h1{
    margin-top: 5px;
    padding-top: 5px;

    font-weight: 500;
    font-size: 64px;
    line-height: 86px;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

main .image {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

main img {
    width: 100%;
}

/* Center the back button and h1 together */
.header-container {
    display: none;
}

p{
    text-indent: 50px;
    padding: 10px 4%;

    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
}

@media (min-width: 700px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    /* Style the back button */
    .back-button {
        display: inline-block;
        float: left;
        padding: 20px 20px;
        background-color: #323232;
        color: rgb(227,226,238);
        text-decoration: none;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
        border-radius: 5px;
    }
    h1{
        margin-top: 0px;
    }
    .header-container {
        display: flex;
        justify-content: left;
    }
}