body{
    text-align: center;
}


/* Body styles */
.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 50px;
}

h1 {
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 20px;
}
h2{
    font-size: 46px;
    margin-bottom: 5px;
}
h3{
    font-size: 24px;
    margin-bottom: 20px;

}
p {
    font-size: 35px;
    margin-bottom: 25px;

}

.intro {
    font-size: 24px;
    margin-bottom: 50px;
}

.info {
    margin-bottom: 50px;
}

.info p {
    font-size: 20px;
    margin-bottom: 10px;
}

.info span {
    font-weight: bold;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    background-color: #323232;
    color: #ddd0c8;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}
body a{
    padding: 10px 30px;
}

.btn:hover {
    background-color: #ddd0c8;
    color: #323232;
}
@media only screen and (max-width: 768px) {

    /* Body styles */
    .container {
        padding: 30px;
    }

    h1 {
        font-size: 46px;
        margin-bottom: 20px;
    }

    h2{
        font-size: 38px;
    }
    h3{
        font-size: 20px;
    }
    p {
        font-size: 30px;
    }

    .intro {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .info p {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .btn {
        font-size: 16px;
        padding: 8px 16px;
        margin: 0 5px;
    }
}
/* Media queries for even smaller screens */
@media screen and (max-width: 700px) {
    .container{
        padding: 0px 5px;
        margin: 0 auto;
    }
}
