body h1, h3{
    margin: 0px;
    padding: 5px;
    text-align: center;
}

body h1{
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 86px;
}

body p{
    margin: 5px;
    padding: 0px 20px;
    font-size: 48px;
    line-height: 61px;
}

footer{
    margin-top: 150px;
}

footer img{
    padding: 0 15px;

}
