
body h1{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    padding-top: 0px;
    margin: 0 0 10px 20px;

}
body h2, h3{
    text-align: center;
    padding-left: 20px;
}
body h3{
    padding-bottom: 10px;
}
body h2{
    padding-top: 10px;
    font-weight: 600;
}
body a{
    text-align: center;
}
#phoneHolder{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    justify-content: center;
}
#brew{
    padding-left: 3.5%;
}


p{
    padding: 0 20px;
    margin: 0 0px;
    font-size: 28px;
    line-height: 40px;
    text-indent: 30px;
}
#floated{
    width: 350px;
    padding-left: 20px;
    padding-right: 10px;
    margin-right: 0px;
    float: left;
}
#floatedRight{
    width: 350px;
    padding-right: 20px;
    margin-right: 0px;
    float: right;

}
#floatedLeft{
    width: 350px;
    padding-left: 20px;
    padding-right: 10px;
    margin-right: 0px;
    float: left;

}
#alexaCarImg{
    padding: 20px;
    float: left;
}


@media only screen and (max-width: 700px) {
    h1, h2, h3{
        text-align: center;
    }
    .container{
        text-align: center; /* Center inner div horizontally */
    }
    #floated, #floatedLeft, #floatedRight{
        float: left; /* Float inner div to the left */
        width: 100%; /* Set a width for the inner div */
        padding: 0 20px; /* Add 20px padding on either side */
        box-sizing: border-box; /* Include padding in the width calculation */

    }
    .roboticsimg{
        width: 100%;
    }
    #alexaCarImg{
        width: 100%;
        padding: 0 20px;
    }
    #phoneHolder{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 auto;
        justify-content: center;
    }
    #phoneHolder img{
        width: 70%;
    }
}