
main h1{
    margin-top: 5px;
    padding-top: 5px;

    font-weight: 500;
    font-size: 64px;
    line-height: 86px;
    text-align: center;
}

main h2{
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}
main .container{
    padding-top: 20px
}

p{
    padding: 0 20px;
    margin: 0 0px;
    font-size: 28px;
    line-height: 40px;
    text-indent: 30px;
}
#floated{
    width: 350px;
    padding-left: 20px;
    padding-right: 10px;
    margin-right: 0px;
    float: left;
}
#floatedRight{
    width: 350px;
    padding-right: 20px;
    margin-right: 0px;
    float: right;

}
#floatedLeft{
    width: 350px;
    padding-left: 20px;
    padding-right: 10px;
    margin-right: 0px;
    float: left;

}


@media only screen and (max-width: 700px) {
    h1, h2, h3{
        text-align: center;
    }
    .container{
        text-align: center; /* Center inner div horizontally */
    }
    #floated, #floatedLeft, #floatedRight{
        float: left; /* Float inner div to the left */
        width: 100%; /* Set a width for the inner div */
        padding: 0 20px; /* Add 20px padding on either side */
        box-sizing: border-box; /* Include padding in the width calculation */

    }
    .roboticsimg{
        width: 100%;
    }

}