.container{
    padding-top: 0px;
    padding-right: 10px;
    width: 100%;
    text-align: center;
}
#floated{
    width: 400px;
    padding-left: 20px;
    padding-right: 30px;
    margin-right: 0px;
    float: left;
}
p{
    text-indent: 50px;
    padding: 10px 20px;
    margin: 10px;

    ont-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
}

body h1{
    margin-top: 5px;
    padding-top: 5px;

    font-family: 'Viga';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 86px;
    text-align: center;
}
